{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <form method="POST" action="" class="login__form">
            {% csrf_token %}
            <h1 class="login__title">Welcome!</h1>

            <div class="login__inputs">
                <div class="login__box">
                    <input type="text" name="username" placeholder="Username" required class="login__input">
                </div>

                <div class="login__box">
                    <input type="password" name="password" placeholder="Password" required class="login__input">
                </div>
            </div>

            {% if error %}
                <p class="login__error">{{ error }}</p>
            {% endif %}

            <button type="submit" class="login__button">Login</button>
        </form>
    </div>
</body>
</html>
