{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/sidebar_toggle.js' %}"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>FYP</h1>
            </div>  
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'sensor_monitor:sensor_data' %}">SENSOR READINGS</a></li>
                    <li><a href="{% url 'sensor_config:update_thresholds' %}">UPDATE THRESHOLD</a></li>
                    <li><a href="{% url 'evac_pathfinding:evacuation_path' %}">ROUTES</a></li>
                    <li><a href=#>SECURITY</a></li>
                    <li><a href="{% url 'layout_display:layout_display' %}">Layout Display</a></li>

        <div class="logout">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
                </ul>
            </nav>
        </aside>
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
