{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Update Sensor Thresholds{%endblock%}</title>
    {%block content%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <h1 class="mt-5">Update Sensor Thresholds</h1>
        <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="flame_threshold">Flame Threshold</label>
                {{ form.flame_threshold }}
            </div>
            <div class="form-group">
                <label for="smokeB_threshold">Smoke B Threshold</label>
                {{ form.smokeB_threshold }}
            </div>
            <div class="form-group">
                <label for="smokeC_threshold">Smoke C Threshold</label>
                {{ form.smokeC_threshold }}
            </div>
            <div class="form-group">
                <label for="temperature_threshold">Temperature Threshold</label>
                {{ form.temperature_threshold }}
            </div>
            <div class="form-group">
                <label for="humidity_threshold">Humidity Threshold</label>
                {{ form.humidity_threshold }}
            </div>
            <div class="form-group">
                <label for="distance_threshold">Distance Threshold</label>
                {{ form.distance_threshold }}
            </div>
            <div class="form-group">
                <label for="reedswitch_threshold">Reedswitch Threshold</label>
                {{ form.reedswitch_threshold }}
            </div>
            <div class="form-group">
                <label for="motion_threshold">Motion Threshold</label>
                {{ form.motion_threshold }}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    {%endblock%}
</body>
</html>
